body {
    margin: 0px;
    padding:  0px;
}

.container {
    width: 100%;
    height: 880px;
    background-image: url(./img/main_image.jpg);
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 1137px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

nav {
    margin-top: 50px;
    width: 135px;
    height: 10px;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;

}

article {
   text-align: center;
   width: 415px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 234px;
}

#title_1 {   
    margin-left: 60px;
    display: inline-block;
    width: 315px;
    height: 33px;
    opacity: 0.7;
    color: #ffffff;
    font-family: "Times New Roman PS - Bold Italic MT";
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.8px;
}

#title_2 {
    margin-top: 35px;
    display: inline-block;
    color: #ffffff;
    font-family: Lato;
    font-size: 100px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

article > button {
    margin-top: 40px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    width: 260px;
    height: 68px;
    border: 3px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

article > p {
    opacity: 0.7;
    margin-left: 20px;
    margin-top: 41px;
    width: 410px;
    height: 12px;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Lato - Regular";
    letter-spacing: 0.7px;

}

article > p > a {
    color: #ffffff;
    font-family: "Lato - Bold";
    font-weight: 700;
    letter-spacing: 0.7px;
}
    
#about {
    width: 1180px;
    height: 436x;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 97px;
}

#about > div > p {
    width: 360px;
    height: 67px;
    color: #000000;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.8px;
    margin-left: 10px;
    margin-top: 19px;
}

#about > div > h3 {
    margin-bottom: 0px;
    widows: 150px;
    height: 17px;
    color: #000000;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.block {
    width: 40%;
    margin-top: 101px;
    margin-left: 10px;
}


#app {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 881px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#app > #text {
    width: 543px;
    color: #000000;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 0px;
}

#app > #text > h3 {
    margin-bottom: 0px;
    width: 289px;
    height: 14px;
    color: #000000;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

#app > #text {
    margin-left: 115px;
    margin-top: 182px;
}

#app > #text > p {
    line-height: 25px;
    font-weight: 300;
    width: 550px;
}

#app > #iphone {
    margin-top: 102px;
}

 #app_stores {
    
}

#app_stores img:not(:last-child) {
    margin-right: 10px;
}

#reviews {
    width: 100%;
    height: 462px;
    background-image: url(./img/reviews.jpg)
}

#reviews > div {
    width: 895px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    padding-top: 84px;
}

#adress {
   display: block;
   font-family: "Lato - Hairline Italic";
   font-size: 18px;
}

#reviews > div > p {
    width: 886px;
    height: 112px;
    color: #ffffff;
    font-family: "Lato - Hairline";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    opacity: 0.3;
}
#cuisines {
    width: 100%;
    height: 3541px;
    text-align: center;
}

#cuisines > div > h1 {
    margin: 0px;
    width: 215px;
    height: 14px;
    color: #000000;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

#cuisines > #title {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    margin-bottom: 40px;
}

#mills {
    width: 100%;
    height: 450px;
}

#mills > div {
    width: 20%;
    height: 225px;
    float: left;
    color: #ffffff;
}

#ITALIAN {
    background-image: url(./img/Layer_6.png);
}

#INDIAN {
    background-image: url(./img/Layer_7.png);
}

#FRENCH {
    background-image: url(./img/Layer_8.png);
}

#STEAKHOUSE {
    background-image: url(./img/Layer_9.png);
}

#SEAFOOD {
    background-image: url(./img/Layer_10.png);
}

#SUSHI {
    background-image: url(./img/Layer_11.png);
}

#MEXICAN {
    background-image: url(./img/Layer_12.png);
}

#CHINESE {
    background-image: url(./img/Layer_13.png);
}

#PIZZA {
    background-image: url(./img/Layer_14.png);
}

#AMERICAN {
    background-image: url(./img/Layer_15.png);
}
